/***Encabezado***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(226, 15, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div {
    display: flex;
    align-items: center;
    margin: 5px;
}



header h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

/***Barra de navegacion***/
nav {
    background-color: rgb(226, 15, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: end;

}

nav ul li {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    padding: 0px 20px;


}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;

}

/***Contenido principal ***/

.titulo {
    grid-area: titulo;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: rgb(226, 15, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}



.textoIntro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(226, 15, 26);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/***BOX GRUPO***/
.faseGrupo {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;

}

.faseGrupo .jugadores {
    list-style: none;
    padding: 10px;
    text-align: left;
}

.faseGrupo .jugadores li {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(226, 15, 26);
    border-radius: 50px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.507);
}

.faseGrupo .puntos {
    font-family: 'Ubuntu', sans-serif;
    float: right;
    color: white;
    font-weight: 700;
    margin-left: 5px;
}


.faseGrupo h2 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.faseGrupo h3 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}


/***BOX MAN OF THE MATCH***/

.manMatch h2 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.manMatch h3 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.manMatch img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.507);
}

/***BOX NUMEROS PERSONALES***/

.numerosPersonales {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;

}

.numerosPersonales .jugadores {
    list-style: none;
    padding: 10px;
    text-align: left;
}

.numerosPersonales .jugadores li {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(226, 15, 26);
    border-radius: 50px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.507);
}

.numerosPersonales .goles {
    font-family: 'Ubuntu', sans-serif;
    float: right;
    color: white;
    font-weight: 700;
    margin-left: 5px;
}


.numerosPersonales h2 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.numerosPersonales h3 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}







/***Footer***/
footer {
    display: flex;
    background-color: rgb(226, 15, 26);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.parrafo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: white;
    width: 50%;
    font-style: italic;
}

.redesClub ul li {
    list-style: none;
    display: inline-flex;
    padding-top: 10px;
    padding-right: 10px;


}

.redesClub {
    font-family: 'Ubuntu', sans-serif;
    color: white;



}

.nuestraComunidad {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: inline-block;
    padding: 10px;


}

.nuestraComunidad a img {
    margin-left: 100px;
    margin-top: 10px;
}

/***Aplicando grid***/


body {
    display: grid;
    min-height: 100vh;
    row-gap: 20px;
    column-gap: 5px;
    grid-template-areas:
        "header nav nav"
        "titulo titulo titulo"
        "intro intro intro"
        "grupo manmatch numeros"
        "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto auto 150px;



}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.faseGrupo {
    grid-area: grupo;
}

.manMatch {
    grid-area: manmatch;
}

.numerosPersonales {
    grid-area: numeros;
}

footer {
    grid-area: pie
}


/* Aplicando grid a cl page*/

/* MOBILE MAX 768PX*/

@media (max-width: 768px) {

    body {
        display: inline-block;
        overflow-x: hidden;
       
    }

    body {
        width: auto;
        grid-template-areas:
            "header"
            "nav"
            "titulo"
            "intro"
            "grupo"
            "manmatch"
            "numeros"
            "pie";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }

    nav ul li {
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;

    }

  

    nav {
        display: flex;
        justify-content: space-around;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}