.novGrid {
    .tituloNov {
        color: $color-primario;
        grid-area: titulo;
        text-align: center;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

    .jugadorDelMes {

        grid-area: playermes;

        h2,
        h3,
        img {
            text-align: center;
            margin: auto;
            display: block;
        }

        img {
            width: 50%;
            border-radius: 50px;
            box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.507);
        }

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;
    }

    .videoArsenal {
        grid-area: video;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;
    }


    .arsTwitter {
        grid-area: twitter;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;
    }

    .fichajes {
        grid-area: fichajes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;
    }


}