//INDEX

body {
    display: grid;
    min-height: 100vh;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas:
        "header    nav      nav"
        "team    team  palmares"
        "team    team   palmares"
        "main main palmares"
        "pie       pie     pie ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto auto 150px;


}

@media (max-width: 768px) {
    body {

        grid-template-areas:
            "header"
            "nav"
            "team"
            "main"
            "palmares"
            "pie";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto 1fr auto;
    }
    nav {
        display: flex;
        justify-content: space-around;
        justify-content: center;
    
        ul li {
            display: flex;
            flex-direction: column;
        }
    
    }
    
    
    main {
        width: auto;
        padding-top: 2px;
    }
    
    #arsenalTeam img {
        width: 100%;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    

}


//CHAMPIONS LEAGUE
.clPageGrid {
    display: grid;
    min-height: 100vh;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas:
        "header nav nav"
        "titulo titulo titulo"
        "intro intro intro"
        "grupo manmatch numeros"
        "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto auto 150px;



}


@media (max-width: 768px) {



    .clPageGird {
        grid-template-areas:
            "header"
            "nav"
            "titulo"
            "intro"
            "grupo"
            "manmatch"
            "numeros"
            "pie";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    nav {
        display: flex;
        justify-content: space-around;
        justify-content: center;
    
        ul li {
    
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            flex-direction: column;}
     }
    
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        body div img {
            max-width: 100%;
            height: auto;
        }
    
        body section img {
            max-width: 100%;
            height: auto;
        }
    
}
